<%= provide :page_title, 'Список препаратов'%>

<h1>Препараты</h1>

<table class = "table table-bordered border-primary table-sm table-hover">
  <thead>
    <tr class="text-center align-text-top">
      <th scope="col">Препарат</td>
      <th scope="col">Производитель</td>
      <th scope="col">GTIN</td>
      <th scope="col">Общее количество</td>

      <% @firms.each do |firm| %>
        <th scope="col" class= 'text-center'><%= firm.name %></td>
      <% end %>
     </tr>
  </thead>
  <tbody>
    <% @drugs.each do |drug| %>
        <tr class = "<%= drug.is_narcotic || drug.is_pku ? 'table-danger' : nil %>">
          <td> <%= link_to drug.full_name, drug %></td>
          <td> <%= drug.producer.name %></td>
          <td> <%= drug.gtin %></td>
          <td class="text-end"> <%= drug.sgtin.count %> / <%= BatchFirm.where(batch: Batch.where(drug: drug)).sum(&:quantity) %></td>

          <% @firms.each do |firm| %>
            <td class="text-end"> <%= quantity_at_firm(drug, firm) %> / <%= BatchFirm.where(batch: Batch.where(drug: drug), firm: firm).sum(&:quantity) %></td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
