<h1>Препараты</h1>

<table class = "table table-bordered border-primary table-sm table-hover">
  <table class = "table table-bordered border-primary table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Препарат</td>
      <th scope="col">GTIN</td>
      <th scope="col">Общее количество</td>

      <% @firms.each do |firm| %>
        <th scope="col"><%= firm.name %></td>
      <% end %>
     </tr>
  </thead>
  <tbody>
    <% @drugs.each do |drug| %>
        <tr>
          <td> <%= link_to drug.name, drug %></td>
          <td> <%= drug.gtin %></td>
          <td> <%= drug.sgtin.count %> </td>

          <% @firms.each do |firm| %>
            <td> <%= quantity_at_firm(drug, firm) %> </td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
