<h3><%= @drug.name %></h3>

<table class = "table table-bordered border-primary table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Серия</td>
      <th scope="col">Срок годности</td>
      <th scope="col">Общее количество</td>

      <% @firms.each do |firm| %>
        <th scope="col"><%= firm.name %></td>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
        <tr>
          <td><%= link_to batch.number, drug_batches_path(@drug.id) %></td>
          <td><%= batch.formatted_expiration_date %></td>
          <td><%= batch.sgtin.count %></td>

          <% @firms.each do |firm| %>
            <td> <%= quantity_at_firm_by_bathes(batch.drug, firm, batch) %> </td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
