<%= provide :page_title, 'SGTINs'%>

<h4><%= @batch.drug.name %></h4>
<h5>Серия: <%= @batch.number %></h5>
<h6>Годен до: <%= @batch.formatted_expiration_date %></h6>

<ul class="navbar-nav">
  <% @firms.each do |firm| %>
    <li class="nav-item"><%= link_to firm.name, drug_batch_path(firm_id: firm)%></li>
  <% end %>
</ul>
</nav>

<h4><%= @firm.name %></h4>

<table class = "table table-bordered border-primary table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">sgtin</td>
      <th scope="col">Статус</td>
      <th scope="col">Дата статуса</td>
      <th scope="col">Дата последней операции</td>
    </tr>
  </thead>
  <tbody>

  <% sgtins_at_firm(@sgtins, @firm).each do |sgtin| %>
      <tr>
        <td><%= sgtin.number %></td>
        <td><%= sgtin.status %></td>
        <td><%= sgtin.formatted_status_date %></td>
        <td><%= sgtin.formatted_last_operation_date %></td>
        </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Назад', drug_path(@drug) %>
